body {
  background-color: #22668d;
}

:root {
  --main-bg-color: #22668d;
  --text-color: ##fdce20;
  font-family: "Open Sans", sans-serif;
}

/*--------------------------------------------------------------
  #navbar
  --------------------------------------------------------------*/
.container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: inline-flex;
  margin: 0 0 0 2rem;
}

.navbar-nav {
  z-index: 9999999999999;
  font-size: 29.2px;
  justify-content: space-between;
  margin: 0 15rem 0 0;
  color: #fdce20;
  font-family: "Open Sans", sans-serif;
}

.navbar-nav a {
  color: #fdce20;
}

.logo-foranggis {
  width: 60px;
  height: auto;
  margin-right: 5px;
}

.foranggis-text {
  color: #fdce20;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

.home-nav {
  color: #fdce20;
  margin: 0 4rem 0 0;
}

.search {
  background-color: transparent;
  border-radius: 5px;
  width: 195px;
  height: 25px;
  margin-left: 0;
}

.container-isi {
  text-align: center;
  margin-top: 80px;
}

.text1 {
  color: #fdce20;
  font-size: 54.2px;
  font-family: "Open Sans", sans-serif;
}

.text2 {
  color: #fdce20;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .container {
    display: inline-flex;
    display: flex;
  }

  .container-isi {
    text-align: center;
  }
}
