body {
  background-color: #22668d;
}

:root {
  --main-bg-color: #22668d;
  --text-color: #fdce20;
  --primary: #f8cf2c;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #22668d;
  color: #fdce20;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fdce20;
}

.logo-foranggis {
  width: 60px;
  height: auto;
  margin-right: 5px;
}

.foranggis-text {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

/* Navigation Bar */
.navbar {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin: 0 20px 0 0;
}

.navbar-nav a {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #fdce20;
  margin-right: 20px;
}

.icon {
  margin: 0 5px 0 0;
}

.icon :hover {
  color: #a88b18;
}

.nav {
  margin-right: 10px;
  justify-content: space-between;
}

.nav :hover {
  color: #a88b18;
}

/* SEARCH FORM */
#search-form {
  position: relative;
  margin: 0 200px;
}

#search-form input.search {
  background-color: #22668d;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 195px;
  height: 35px;
  padding: 5px 30px 5px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#search-form label {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #fdce20;
}

#search-form label :hover {
  color: #a88b18;
}

/* Menu Icon */
#menu {
  display: none;
  font-size: 24px;
  color: #fdce20;
  cursor: pointer;
}

/* navigation bar end */

/* HERO */

.container-isi {
  text-align: center;
  margin-top: 80px;
}

.text1 {
  color: #fdce20;
  font-size: 54.2px;
  font-family: "Open Sans", sans-serif;
}

.text2 {
  color: #fdce20;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
/* HERO END*/

@media (max-width: 768px) {
  .navbar {
    margin-right: 0;
  }

  .navbar-nav {
    margin-left: 0;
    flex-direction: column;
  }

  .navbar a {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #search-form {
    margin-right: 0;
  }

  #search-form input.search {
    width: 100%;
    margin-right: 0;
  }

  /* menu */

  #menu.active .search-form {
    display: flex;
  }

  #menu.active .nav {
    display: flex;
  }

  /* menu END */

  .container-isi {
    margin-top: 0;
  }

  .text1 {
    font-size: 32px;
  }

  .text2 {
    font-size: 12px;
  }
}
