body {
    background-color: #ffde90;;
}


/* Gaya untuk mengatur tampilan formulir */
.form-container {
    max-width: 100%;
    padding: 20px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
}

.form-image {
   width: 5rem;
   height: 5rem;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #000000;
    border-radius: 5px;
}

.form-textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #000000;
    border-radius: 5px;
}

.form-button {
    background-color: #ffd323;
    box-shadow: 3px 2px 2px rgb(249, 175, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-footer {
    font-size: 14px;
    color: #777;
}

/* Gaya untuk responsif di mode layar ponsel */
@media  (max-width: 480px) {
    .form-container {
        padding: 10px;
    }

    .form-title {
        font-size: 20px;
    }

    .form-input {
        width: 15rem;
    }

    .form-textarea {
        width: 15rem;
    }

    .form-title {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
    }

    .form-image {
        width: 4rem;
        height: 4rem;
    }

    .isi {
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
    }

    .judul {
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
    }
}